/__pycache__/
/build/
/QubeSpec.egg-info/
/QubeSpec/__pycache__/
/QubeSpec/Models/FeII_templates/Preconvolved_FeII.txt
/QubeSpec/FeII_templates
/.ipynb_checkpoints
/.DS_store
/QubeSpec/.DS_Store
/QubeSpec/Models/.DS_Store
/QubeSpec/Models/FeII_templates/Preconvolved_FeII.txt
/QubeSpec/.vscode/launch.json
/QubeSpec/Models/__pycache__/
QubeSpec/IFS_tutorial/.DS_Store
QubeSpec/detection/__pycache__/Detection.cpython-311.pyc
QubeSpec/detection/__pycache__/__init__.cpython-311.pyc
QubeSpec/detection/.DS_Store
IFS_tutorial/.DS_Store
QubeSpec/MSA/.DS_Store
QubeSpec/detection/__pycache__/.DS_Store
docs/.DS_Store
*.pyc
QubeSpec/Models/FeII_templates/.DS_Store
QubeSpec.zip
dist/*.gz
dist/.DS_Store
