/__pycache__/
/build/
/QubeSpec.egg-info/
/QubeSpec/__pycache__/
/QubeSpec/Models/FeII_templates/Preconvolved_FeII.txt
/.ipynb_checkpoints
/.DS_store
/QubeSpec/.DS_Store
/QubeSpec/Models/.DS_Store
/QubeSpec/.vscode/launch.json
/QubeSpec/Models/__pycache__/
QubeSpec/IFS_tutorial/.DS_Store
